.bg{ background-image:url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png');background-repeat: no-repeat;background-size: cover;height:100vh;}
.d{border-top-left-radius: 10px;border-top-right-radius: 10px;background-color: antiquewhite;padding: 20px;}
.i{font-weight: bold;padding:10px;}